/* reset */
a {
    color: inherit;
    text-decoration: none;
}
input, button {
    background: none;
    outline: none;
    border: none;
}


/* custom */
.wrapper {
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper #map {
    /* 이걸 안주니까 td들 간 거리가 떨어진거처럼 나오네? */
    border-collapse: collapse;
    width: 100%;
    border: 5px solid tomato;
}

#map tr:nth-child(odd) td:nth-child(odd) {
    background: tomato;
}
#map tr:nth-child(even) td:nth-child(even) {
    background: tomato;
}
#map tr.hang2 td:last-child {
    background: tomato;
}

#map td {
    width: 100px;
    height: 100px;
    border: 1px solid tomato;
}

#map tr td.island {
    background-image: url('../img/island.jpg');
}

#map tr.hang10 td.island {
    background-image: url('../img/island.jpg');
}

#map span.lnr {
    /* background: #fff; */
    font-size: 35px;
    font-weight: 700;
    display: block;
    text-align: right;
}

#map #start {
    background: orange;
}

#map #main-box {
    background: gainsboro;
}

#map #main-box .main-wrap {
    /* background: #000; */
    height: 100%;
}

#map #main-box .main-wrap .main-title {
    background: yellow;
    text-align: center;
    margin-bottom: 100px;
    padding: 60px 0;
    font-size: 30px;
}

/* #dice는 숨어있다가 dice-button이 눌리면 나와야함. */
#map #main-box .main-wrap #dice {
    width: 150px;
    height: 150px;
    background-image: url('https://www.emojiall.com/images/60/blobmoji/emoji_u1f3b2.png');
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 150px;

    /* display: none으로 하면 블록 영역 자체가 사라져서 밑에 버튼이 얘 자리를 차지함. */
    opacity: 0;
}

/* #dice-button를 눌렀을 때 나타날 #dice 애니메이션 */
/* 버튼 누르면 throw 클래스가 들어가서 애니메이션이 발동되게! */
#map #main-box .main-wrap #dice.throw {
    animation: throw-dice 1s linear forwards;
}

@keyframes throw-dice {
    0% {
        opacity: 1;
        transform: rotate(0);
    }
    50% {
        opacity: 1;
        /* top: 100px; */
        transform: rotateZ(-720deg);
    }
    100% {
        opacity: 0;
        /* top: 300px; */
        transform: rotate(0);
    }

}

#map #main-box .main-wrap #dice-button {
    background: violet;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}

/* #map 끝 */


/* #finish 꾸미기 */



/* #finish 끝 */